---
import Section from '../Section.astro';
import { education } from '@cv';
---

<Section title="Educación">
  <ul>
    {
      education.map(({ institution, certificates }) => (
        <li>
          <div class="institucion">
            <h3>{institution}</h3>
          </div>
          <ul>
            {certificates.map(
              ({ startDate, endDate, area, url, description }: any) => {
                const startYear = new Date(startDate).getFullYear();
                const endYear =
                  endDate != null ? new Date(endDate).getFullYear() : 'Actual';
                const years = `${startYear} - ${endYear}`;

                return (
                  <li>
                    <article>
                      <header>
                        <div>
                          <a
                            href={url}
                            target="_blank"
                            rel="noopener noreferrer"
                          >
                            {area}
                          </a>
                        </div>
                        <time>{years}</time>
                      </header>

                      <footer>
                        <p>{description}</p>
                      </footer>
                    </article>
                  </li>
                );
              }
            )}
          </ul>
        </li>
      ))
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  li a:hover {
    text-decoration: underline;
  }

  article h3 {
    font-weight: 500;
    color: #111;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  time {
    color: #555;
    font-size: 0.85rem;
    min-width: 102px;
  }

  footer p {
    color: #555;
    font-size: 0.85rem;
    max-width: 600px;
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }

  .institucion {
    display: inline-block;
    background-color: #11111175;
    color: white;
    margin-bottom: 1rem;
    padding: 0.4rem 0.7rem;
  }

  h3 {
    display: inline-block;
  }
</style>
